<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Test</title>
	</head>
	<body>
		<form action="/create" method="post">
			<input type="text" name="input" placeholder="name" />
			<input type="email" name="email" placeholder="email" />
			<input type="password" name="password" placeholder="name" />
			<input type="password" name="confirm_password" placeholder="name" />
			<button type="submit" value="Sign Up">
		</form>
	</body>
</html>
